<div class="newToDoContainer">
  <div class="titleCont top">
    <input type="text" placeholder="Your {{listType}} list title" #title />
    <app-date-picker #picker (selectedDate)="date($event)"></app-date-picker>
    <button (click)="addTitle(title.value, listType); title.value = ''; picker.resetDate()">Create list</button>
  </div>

  <div class="overlay" *ngIf="errorStatus">
    <div class="errorMsg">
      <span class="closeModal" (click)="errorStatus = false"></span>
      <h4>⚠️ {{ errorMsg }}</h4>
    </div>
  </div>

  <app-recent [todoCount]="todoMasterList.length" [expenseCount]="expenseMasterList.length" [todoTitles]="todoTitles"
    [expenseTitles]="expenseTitles" [type]="listType"></app-recent>

  <!----------------------------------------------------- TODO ----------------------------------------------------->
  <ng-container *ngIf="listType == 'todo'">
    <div class="toDoCont" *ngFor="let list of todoMasterList; let i = index">
      <div class="titleOpt">
        <h1>{{ list.title }}<br /><span>{{ list.date | date : "dd/MM/yyyy" }}</span></h1>
        <div class="options">
          <button class="move" (click)="moveUp(i, 'todo')" title="move list up"
            [ngClass]="{ 'opacity-50': i === 0 }">☝🏽</button>
          <button class="move" (click)="moveDown(i, 'todo')" title="move list down"
            [ngClass]="{ 'opacity-50': i === (todoMasterList.length - 1) }">👇🏽</button>
          <button class="delete" (click)="list.getConfirmation = true" title="delete list">🗑️</button>
          <ng-container *ngIf="list.getConfirmation">
            <div class="overlay">
              <div class="confirmation">
                <span class="closeModal" (click)="list.getConfirmation = false"></span>
                <h4>Are you sure you want to delete <span class="bold">"{{ list.title }}"</span> list?</h4>
                <div>
                  <button class="cancelBtn" (click)="list.getConfirmation = false"> Cancel</button>
                  <button class="confirmBtn" (click)="deleteList(i)">Confirm</button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="top">
        <input type="text" placeholder="Enter your todo" #todo />
        <select name="priority" #priority>
          <option value="Priority" disabled selected>Priority ◢</option>
          <option value="High">High</option>
          <option value="Medium">Medium</option>
          <option value="Low">Low</option>
        </select>
        <button (click)="addTodo(i, todo.value, priority.value); todo.value = ''; priority.value = 'Priority'">+
          Task</button>
      </div>

      <div class="bottom">
        <div class="todoList" *ngFor="let todo of list.tasks; let j = index">
          <h3>{{ j + 1 }}.</h3>
          <div class="todoItem">

            <ng-container *ngIf="todo.isUpdate; then elseBlock; else thenBlock"></ng-container>
            <ng-template #thenBlock>
              <div>
                <h3>{{ todo.todo }}</h3>
              </div>
              <h6 [ngClass]="{red: todo.pri === 'High', green: todo.pri === 'Medium', orange: todo.pri === 'Low'}">{{
                todo.pri }}</h6>
              <!-- <span class="editTodo" (click)="todo.isUpdate = true; enterEditMode()" title="edit todo">✏️</span> -->
            </ng-template>
            <ng-template #elseBlock>
              <textarea [value]="todo.todo" [(ngModel)]="todo.todo" #updateTodo #ta class="editInput"
                spellcheck="false" (input)="autoResize(ta)" (focus)="autoResize(ta)" (blur)="autoResize(ta)" autofocus></textarea>
                <h6 [ngClass]="{red: todo.pri === 'High', green: todo.pri === 'Medium', orange: todo.pri === 'Low'}">{{
                  todo.pri }}</h6>
              <!-- <span class="editTodo" (click)="saveTodo(i, j, updateTodo.value)" title="save todo">📁</span> -->
            </ng-template>
          </div>

          <div class="todoOpt">
            <!-- <h6 [ngClass]="{red: todo.pri === 'High', green: todo.pri === 'Medium', orange: todo.pri === 'Low'}">{{
              todo.pri }}</h6> -->
              <span class="editTodo" (click)="todo.isUpdate = true; enterEditMode()" title="edit todo" *ngIf="!todo.isUpdate">✏️</span>
              <span class="editTodo" (click)="saveTodo(i, j, todo.todo, todo.pri)" title="save todo"
                *ngIf="todo.isUpdate">📁</span>

            <button (click)="todo.getConfirmation = true" title="delete todo" class="deleteBtn">🗑️</button>
            <ng-container *ngIf="todo.getConfirmation">
              <div class="overlay">
                <div class="confirmation">
                  <span class="closeModal" (click)="todo.getConfirmation = false"></span>
                  <h4>Are you sure you want to delete <span class="bold">"{{todo.todo | slice:0:20}}"</span> task from <span class="bold">"{{list.title | slice:0:20}}"</span> list?</h4>
                  <div>
                    <button class="cancelBtn" (click)="todo.getConfirmation = false">Cancel</button>
                    <button class="confirmBtn" (click)="deleteTodo(i, j)">Confirm</button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!----------------------------------------------------- EXPENSE ----------------------------------------------------->
  <ng-container *ngIf="listType == 'expense'">
    <div class="toDoCont" *ngFor="let list of expenseMasterList; let i = index">
      <div class="titleOpt">
        <h1>{{ list.title }}<br /><span>{{ list.date | date : "dd/MM/yyyy" }}</span></h1>
        <div class="options">
          <button class="move" (click)="moveUp(i, 'expense')" title="move list up"
            [ngClass]="{ 'opacity-50': i === 0 }">☝🏽</button>
          <button class="move" (click)="moveDown(i, 'expense')" title="move list down"
            [ngClass]="{ 'opacity-50': i === (expenseMasterList.length - 1) }">👇🏽</button>
          <button class="delete" (click)="list.getConfirmation = true" title="delete list">🗑️</button>
          <ng-container *ngIf="list.getConfirmation">
            <div class="overlay">
              <div class="confirmation">
                <span class="closeModal" (click)="list.getConfirmation = false"></span>
                <h4>Are you sure you want to delete <span class="bold">"{{ list.title }}"</span> list?</h4>
                <div>
                  <button class="cancelBtn" (click)="list.getConfirmation = false"> Cancel</button>
                  <button class="confirmBtn" (click)="deleteList(i)">Confirm</button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="top">
        <input type="text" placeholder="Enter your expense" #expense />
        <input type="number" placeholder="Amount" #expenseAmount class="expenseAmountInput" />
        <button (click)="addTodo(i, expense.value, expenseAmount.value); expense.value = ''; expenseAmount.value = ''">+
           Expense</button>
      </div>

      <div class="bottom">
        <div class="todoList" *ngFor="let expense of list.expenses; let j = index">
          <h3>{{ j + 1 }}.</h3>
          <div class="todoItem">

            <ng-container *ngIf="expense.isUpdate; then elseBlock; else thenBlock"></ng-container>
            <ng-template #thenBlock>
              <div class="expenseRow">
                <h3>{{ expense.expense }}</h3>
                <h6 class="expenseAmountInRow">&#8377;{{ expense.expenseAmount }}</h6>

              </div>
            </ng-template>
            <ng-template #elseBlock>
              <div class="expenseRow">
                <textarea #ta [value]="expense.expense" [(ngModel)]="expense.expense" class="editInput"
                  spellcheck="false" (input)="autoResize(ta)" (focus)="autoResize(ta)" (blur)="autoResize(ta)" autofocus></textarea>
                <span>₹</span>&nbsp;
                <input type="number" [value]="expense.expenseAmount" [(ngModel)]="expense.expenseAmount"
                  class="expenseAmountEditInput" />
              </div>
            </ng-template>
          </div>

          <div class="todoOpt">
            <p class="globalDate desktopDate">{{ expense.date ? (expense.date | date:'dd/MM/yy') : '' }}</p>
            <p class="globalDate mobileDate">{{ expense.date ? (expense.date | date:'dd/MM') : '' }}</p>
            <span class="editTodo" (click)="expense.isUpdate = true; enterEditMode()" title="edit expense"
              *ngIf="!expense.isUpdate">✏️</span>
            <span class="editTodo" (click)="saveTodo(i, j, expense.expense, expense.expenseAmount)" title="save expense"
              *ngIf="expense.isUpdate">📁</span>

            <button (click)="expense.getConfirmation = true" title="delete expense" class="deleteBtn">🗑️</button>
            <ng-container *ngIf="expense.getConfirmation">
              <div class="overlay">
                <div class="confirmation">
                  <span class="closeModal" (click)="expense.getConfirmation = false"></span>
                  <h4>Are you sure you want to delete <span class="bold">"{{expense.expense | slice:0:20}}"</span> expense from <span class="bold">"{{list.title | slice:0:20}}"</span> list?</h4>
                  <div>
                    <button class="cancelBtn" (click)="expense.getConfirmation = false">Cancel</button>
                    <button class="confirmBtn" (click)="deleteTodo(i, j)">Confirm</button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="totalExpense" *ngIf="list.expenses.length > 1">
          <h3>Total Expense: </h3>
          <h3>&#8377;{{ calculateTotalExpense(list) }}</h3>
        </div>
      </div>
    </div>
  </ng-container>
</div>