.newToDoContainer {
  min-height: 94vh;
  width: 100vw;
  background-color: #111;
  color: #fff;
  padding: 4vw 10vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
}

.titleCont {
  width: 60% !important;
  position: relative;
  z-index: 1;
}

.move {
  all: unset;
}

.titleCont input {
  background-color: #151515 !important;
  width: 60% !important;
  border: 1px solid #222 !important;
}

.titleOpt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vw;
}

.titleOpt h1 {
  font-size: 1.2vw;
}

.titleOpt span {
  font-weight: 500;
  font-size: 0.7vw;
  color: #ffa955;
}

.titleOpt .options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.6vw;
}

.titleOpt .delete,
.titleOpt .move {
  outline: none;
  border: none;
  background-color: transparent;
  display: grid;
  place-content: center;
  height: 1.4vw;
  width: 1.4vw;
  border-radius: 200px;
  font-size: 0.8vw;
  transition: 0.1s ease-in-out;
}

.titleOpt .delete:hover {
  background-color: #e94a4a;
  color: #fff;
}

.titleOpt .move:hover {
  background-color: #fff;
}

.errorMsg,
.confirmation {
  position: fixed;
  z-index: 4;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 27vw;
  padding: 2vw;
  background-color: #151515;
  border-radius: 1vw;
  display: grid;
  place-content: center;
  transition: 0.2s ease-in;
  text-align: center;
  border: 1px solid #ffa955;
}

.deleteSuccessMsg {
    border: 1px solid #89ac46 !important;
}

.confirmation {
  border: 1px solid #e94a4a;
}

.errorMsg h4,
.confirmation h4 {
  font-weight: 500;
  color: #fff;
  font-size: 0.8vw;
}

.confirmation .bold {
  font-weight: 600;
  color: #e94a4a;
  font-size: 0.8vw;

}

.confirmation div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  margin-top: 1vw;
}

.confirmation .closeModal,
.errorMsg .closeModal {
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
  /* font-size: 0.9vw; */
  cursor: pointer;
  color: #ffa955;
  border-radius: 100px;
  height: 1.25vw;
  width: 1.25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e94a4a;
  transition: 0.1s ease-in-out;
}

.confirmation .closeModal:hover,
.errorMsg .closeModal:hover {
  background-color: #c03a3a;
}

.confirmation button {
  outline: none;
  width: 5vw;
  padding: 0.4vw 0.7vw;
  border-radius: 0.6vw;
  font-size: 0.8vw;
  font-weight: 600;
  transition: 0.1s ease-in-out;
  background-color: #222;
}

.cancelBtn {
  background-color: #111;
  border: 2px solid #555;
  color: #555;
}

.confirmBtn {
  color: #fff;
  border: 2px solid #fff;
}

.confirmation button:hover {
  background-color: #e94a4a;
  color: #fff;
  border: 2px solid #e94a4a;
}

.toDoCont {
  position: relative;
  /* z-index: 1; */
  height: auto;
  width: 60%;
  background-color: #151515;
  border-radius: 1.7vw;
  border: 1px solid #222;
  padding: 2vw;
}

.top {
  /* margin-top: 6vh; */
  margin-top: 50px;
  /* height: 5vh; */
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.top input {
  height: 100%;
  width: 64%;
  border-radius: 0.7vw;
  outline: none;
  background-color: #111;
  border: 1px solid #222;
  color: #fff;
  padding: 0 1.5vw;
  font-size: 0.8vw;
  font-weight: 500;
}

.top button,
.top select {
  outline: none;
  border: none;
  height: 100%;
  padding: 0 0.7vw;
  border-radius: 0.7vw;
  font-size: 0.8vw;
  font-weight: bold;
  transition: 0.1s ease-in-out;
  background-color: #fff;
  color: #222;
}

.top select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.top select option {
  font-weight: bold;
  color: #222;
  font-size: 0.7vw;
}

.top button:hover {
  background-color: #89ac46;
  color: #fff;
}

.opacity-50 {
  opacity: 0.5;
}

.bottom {
  width: 100%;
  background-color: #111;
  border: 1px solid #222;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  padding: 2vw 1vw;
  border-radius: 1vw;
  gap: 1vw;
}

.todoList {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #222;
  transition: 0.1s ease-in;
  padding: 0.5vw 1vw;
  border-radius: 0.6vw;
}

.todoItem {
  width: 66%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1vw;
}

.todoList .deleteBtn {
  outline: none;
  border: none;
  padding: 0.1vw;
  font-size: 0.8vw;
  border-radius: 0.25vw;
  transition: 0.1s ease-in;
  background-color: #666;
}

.todoList .deleteBtn:hover {
  background-color: #e94a4a;
  color: #fff;
}

.todoList h3 {
  font-size: 0.8vw;
  margin-right: 1vw;
  font-weight: 500;
}

.editInput {
  width: 80%;
  resize: none;
  outline: none;
  border: none;
  font-size: 0.8vw;
  background-color: transparent;
  border-bottom: 1px solid #89ac46;
  color: #fff;
  font-weight: 500;
  margin-right: 1vw;
}

.editInput::-webkit-scrollbar {
  display: none;
}

.todoOpt {
  position: relative;
  width: 38%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1vw;
  overflow: visible;
}

.todoItem h6 {
  padding: 0.1vw 0.3vw;
  border-radius: 0.25vw;
  font-weight: 600;
  font-size: 0.7vw;
  min-width: fit-content;
}

.globalDate {
  font-size: 0.7vw;
  color: #555;
  margin-right: 3vw;
}

.red {
  background-color: #e94a4a;
}

.maxAmountWarning {
  color: #e94a4a !important;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.maxAmountWarningMsg {
  font-size: 0.62vw;
  color: #555;
  margin-top: 0.4vw;
}

.orange {
  background-color: #ffa955;
}

.green {
  background-color: #89ac46;
}

.textGreen {
  color: #89ac46;
  font-weight: bold;
}

.editTodo {
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: 0.1s ease-in;
  background-color: #666;
  padding: 0.1vw;
  font-size: 0.8vw;
  border-radius: 0.27vw;
  min-width: fit-content;
}

.editTodo:hover {
  background-color: #777;
}

.expenseAmountInput {
  width: 17% !important;
  padding: 0 1vw !important;
}

.options>div {
  display: flex;
  justify-content: flex-end;
}

.maxExpenseAmount {
  outline: none;
  /* width: 51%; */
  /* min-width: fit-content; */
  padding: 0.5vw 0.8vw;
  border-radius: 0.7vw 0 0 0.7vw;
  background-color: #111;
  color: #fff;
  border: 1px solid #222;
  border-right: none;
  white-space: nowrap;
  font-size: 0.8vw;
}

.setMaxExpense {
  all: unset;
  padding: 0.5vw 0.8vw;
  background-color: #111;
  border-radius: 0 0.7vw 0.7vw 0;
  font-size: 0.8vw;
  color: #fff;
  cursor: pointer;
  border: 1px solid #222;
  border-left: none;
  transition: 0.1s ease-in-out;
  font-weight: 1000;
}

.resetMaxExpense {
   all: unset;
  padding: 0.5vw 0.8vw;
  background-color: #111;
  font-size: 0.8vw;
  color: #fff;
  cursor: pointer;
  border: 1px solid #222;
  border-left: none;
  border-right: none;
  transition: 0.1s ease-in-out;
  font-weight: 1000;
}

.setMaxExpense:hover {
  background-color: #89ac46;
}

.resetMaxExpense:hover {
  background-color: #e94a4a;
  border-radius: 0.3vw;
}

.expenseRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.expenseRow h3 {
  width: 80%;
}

.expenseRow h6 {
  width: 20%;
  text-align: right;
}

.expenseAmountInRow {
  font-size: 0.8vw;
  font-weight: 600;
  color: #89ac46;
}

.expenseAmountEditInput {
  all: unset;
  font-size: 0.8vw;
  font-weight: 600;
  color: #89ac46;
  width: 17%;
  text-align: right;
  border: 1px solid #89ac46;
  border-radius: 6px;
  background-color: #222;
  padding: 0.1vw 0.6vw;
}

.totalExpense {
  padding: 1vw;
  width: 66%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #222;
  border-radius: 0.8vw;
  border-bottom: 1px solid #222;
}

.totalExpense h3 {
  font-size: 0.9vw;
  font-weight: 600;
  color: #89ac46;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.desktopDate {
  display: block;
}

.mobileDate {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
  background-color: transparent;
  backdrop-filter: blur(6px);
  transition: 0.2s ease-in-out;
}

/* START: MOBILE VIEW */

@media only screen and (max-width: 768px) {

  .newToDoContainer {
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    color: #fff;
    padding: 25vw 3vw 4vw 3vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 7vw;
  }

  .titleCont {
    width: 100% !important;
    margin-top: 10vh;
  }

  .titleCont input {
    font-weight: normal !important;
    background-color: #151515 !important;
    width: 47.5% !important;
  }

  .titleOpt {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1vw;
    padding: 0 3vw;
  }

  .titleOpt h1 {
    font-size: 4vw;
  }

  .titleOpt span {
    font-weight: 500;
    font-size: 2.5vw;
    color: #ffa955;
  }

  .titleOpt .options {
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
  }

  .mobileFlexColumn {
    flex-direction: column;
    gap: 2.5vw;
  }

  .mobileFlexColumn .options {
    width: 100%;
    justify-content: space-between;
  }

  .maxExpenseAmount {
  padding: 0 2.2vw;
  height: 36px;
  border-radius: 1.5vw 0 0 1.5vw;
  background-color: #111;
  color: #fff;
  border: 1px solid #222;
  border-right: none;
  white-space: nowrap;
  font-size: 2.8vw;
  width: 60vw;
}

.removeBr {
  display: none;
}

.maxExpenseAmount:focus {
  font-size: 1rem;
}

.mobileFlexColumn>h1{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.setMaxExpense {
  all: unset;
  padding: 0 2.2vw;
  background-color: #111;
  border-radius: 0 1.5vw 1.5vw 0;
  font-size: 3vw;
  color: #fff;
  cursor: pointer;
  border: 1px solid #222;
  border-left: none;
  transition: 0.1s ease-in-out;
  font-weight: 1000;
}

.resetMaxExpense {
   all: unset;
  padding: 0 2.2vw;
  background-color: #111;
  font-size: 3vw;
  color: #fff;
  cursor: pointer;
  border: 1px solid #222;
  border-left: none;
  border-right: none;
  transition: 0.1s ease-in-out;
  font-weight: 1000;
}

.setMaxExpense:hover, .resetMaxExpense:hover {
  background-color: #111;
  color: #fff;
}

.maxExpenseAmountP {
  display: flex;
  align-items: center;
}

  .titleOpt .delete,
  .titleOpt .move {
    height: 5vw;
    width: 5vw;
    font-size: 3vw;
    margin-left: 6px;
  }

  .titleOpt .delete:hover {
    background-color: #e94a4a;
    color: #fff;
  }

  .titleOpt .move:hover {
    background-color: #fff;
  }

  .errorMsg,
  .confirmation {
    top: 24%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 75%;
    padding: 5.5vw 4.5vw;
    border-radius: 4vw;
  }

  .errorMsg h4,
  .confirmation h4 {
    font-size: 3vw;
  }

  .confirmation .bold {
    font-size: 3vw;

  }

  .confirmation div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    margin-top: 5vw;
  }

  .errorMsg .closeModal,
  .confirmation .closeModal {
    top: 1.9vw;
    right: 1.9vw;
    height: 3.2vw;
    width: 3.2vw;
    background-color: #e94a4a;
  }


  .confirmation button {
    width: auto;
    padding: 1vw 2vw;
    border-radius: 1.5vw;
    font-size: 3vw;
  }

  .cancelBtn {
    background-color: #111;
    border: 1px solid #555;
    color: #555;
  }

  .confirmBtn {
    color: #fff;
    border: 1px solid #fff;
  }

  .confirmation button:hover {
    background-color: #e94a4a;
    color: #fff;
    border: 2px solid #e94a4a;
  }

  .toDoCont {
    position: relative;
    /* z-index: 1; */
    height: auto;
    width: 100%;
    background-color: #151515;
    border-radius: 2.5vw;
    border: 1px solid #222;
    padding: 3vw 0;
  }

  .top {
    /* height: 5vh; */
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .toDoCont .top {
    padding: 0 3vw;
  }

  .top input {
    height: 100%;
    width: 52%;
    border-radius: 1.5vw;
    outline: none;
    background-color: #111;
    border: 1px solid #222;
    color: #fff;
    padding: 0 3vw;
    font-size: 3vw;
    font-weight: normal !important;
  }

  .top input:focus {
    font-size: 1rem;
  }

  .top button,
  .top select {
    outline: none;
    border: none;
    height: 100%;
    padding: 0 1.7vw;
    border-radius: 1.5vw;
    font-size: 3vw;
    font-weight: bold;
    transition: 0.1s ease-in-out;
    background-color: #fff;
    color: #222;
  }


  .top select option {
    font-weight: bold;
    color: #222;
    font-size: 2vw;
  }

  .top button:hover {
    background-color: #89ac46;
    color: #fff;
  }

  .opacity-50 {
    opacity: 0.5;
  }

  .bottom {
    width: 100%;
    background-color: #111;
    border: none;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    padding: 3vw 1vw;
    border-radius: 0;
    gap: 1vw;
  }

  .todoList {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 2px dotted #222;
    transition: 0.1s ease-in;
    padding: 2vw;
    border-radius: 0;
    overflow: visible;
  }

  .todoItem {
    width: 75%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1vw;
  }

  .todoList .deleteBtn {
    outline: none;
    border: none;
    padding: 0;
    font-size: 3vw;
    border-radius: 1vw;
    transition: 0.1s ease-in;
    background-color: transparent;
  }

  .todoList .deleteBtn:hover {
    background-color: transparent;
  }

  .todoList h3 {
    font-size: 3vw;
    margin-right: 1.5vw;
    font-weight: 500;
  }

  .editInput {
    resize: none;
    outline: none;
    border: none;
    font-size: 3vw;
    background-color: transparent;
    border-bottom: 1px solid #89ac46;
    color: #fff;
    font-weight: 500;
  }

  .todoItem .expenseRow .editInput {
    width: 75%;
  }

  .editInput:focus {
    font-size: 1rem;
    width: 65%;
  }

  .editInput::-webkit-scrollbar {
    display: none;
  }

  .todoOpt {
    width: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 7px;
    margin-left: 4px;
  }

  .todoItem h6 {
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    font-weight: 600;
    font-size: 2vw;
  }

  .red {
    background-color: #e94a4a;
  }

  .orange {
    background-color: #ffa955;
  }

  .green {
    background-color: #89ac46;
  }

  .editTodo {
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: 0.1s ease-in;
    background-color: transparent;
    padding: 0;
    font-size: 3vw;
    border-radius: 1vw;
    min-width: fit-content;
  }

  .editTodo:hover {
    background-color: transparent;
  }

  .expenseRow{
    align-items: flex-start;
    /* width: 95%; */
  }

  .expenseRow h3 {
    width: fit-content !important;
  }

  .expenseRow h6 {
    min-width: fit-content !important;
    font-size: 3vw;
  }

  .expenseAmountInRow {
    width: fit-content !important;
    font-size: 3vw;
  }

  .expenseAmountEditInput {
    width: 25%;
    text-align: left;
    font-size: 3vw;
    border-radius: 6px;
    padding: 0.4vw 1vw;
  }
  
  .expenseAmountEditInput:focus {
    font-size: 1rem;
    width: 34%;
    margin-left: 1%;
  }

  .expenseAmountInput {
    text-align: center;
    width: 22% !important;
  }

  .totalExpense {
    padding: 2vw;
    width: 100%;
    border-radius: 0;
    background-color: unset;
    border-bottom: 2px dotted #222;
  }

  .totalExpense h3 {
    font-size: 3.25vw;
  }

  .globalDate {
    font-size: 2.6vw;
    font-weight: 600;
    margin-right: 0;
  }

  .maxAmountWarningMsg {
    font-size: 2.1vw;
    margin-top: 1vw;
  }

  .todoItem textarea {
    width: 82%;
  }

  .desktopDate {
    display: none;
  }

  .mobileDate {
    display: block;
  }

}

/* END: MOBILE VIEW */