.about{
    padding: 0 10vw;

}

h3 {
    margin: 7vw 0 1.5vw 0;
    color: #ffa955;
}

h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
    font-size: 1vw;
   font-weight: 600; 
   margin-top: 1.5vw;
   border-top: 1px solid #333;
   padding-top: 1.5vw;
   color: #ffa955;
}

.greenHeading {
    color: #89ac46;
}

.grayHeading {
    color: #858585;
}

p{
    font-size: 0.85vw;
    margin: 0.5vw 0;
    color: #e9e9e9;
}

.bold {
    font-weight: 600;
}

.flex {
    width: 100%;
    display: flex;
    gap: 3vw;
    justify-content: space-between;
}

.left, .right {
    width: 50%;
}

.green {
    color: #ffa955;
}

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }

  footer a {
    all: unset;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: baseline;
    margin-right: 12px;
  }

   footer a span {
    display: none;
    font-size: 0.9vw;
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 1000;
   }

  footer p:hover a, footer a:hover {
    color: #89ac46;
  }

  footer p:hover a span, footer a:hover span {
    display: inline-block;
  }

  footer p {
    position: relative;
    font-size: 0.8vw;
    color: #858585;
    display: flex;
    align-items: baseline;
    gap: 3px;
  }


@media only screen and (max-width: 768px) {
.about{
    padding: 0 5vw;
    margin-bottom: 45px;
}

h3 {
    margin: 23vw 0 3.5vw 0;
}

h4 {
    font-size: 2.7vw;
   margin-top: 2.5vw;
   padding-top: 3vw;
}

p{
    font-size: 2.5vw;
    margin: 1.5vw 0;
    color: #e9e9e9;
}


.flex {
    flex-wrap: wrap;
}

.left, .right {
    width: 100%;
}

  footer {
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(6px);
    padding: 4.5px 0;
  }

  footer p {
    font-size: 3vw;
  }

  footer a {
    color: #89ac46;
  }

  footer a span {
    display: none !important;
  }

}