.container {
    height: 100vh;
    width: 100vw;
    background-color: #111;
    color: #fff;
    padding: 4vw 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1vw;
  }
  
  .container .tagline {
    font-size: 7vw;
    overflow-y: hidden;
  }

  .container div {
    display: flex;
    gap: 3vw;
    padding: 1vw;
    padding-left: 0;
  }
  
  .createBtn {
    all: unset;
    font-weight: bold;
    font-size: 1vw;
    background-color: #89ac46;
    padding: 0.6vw 1vw;
    border-radius: 0.6vw;
    color: #111;
    transition: 0.12s ease-in-out;
    box-shadow: 6px 6px #fff;
    cursor: pointer;
  }
  
  .createBtn:hover {
    transform: translate(6px, 6px);
    box-shadow: 0 0;
    color: #fff;
  }
  
  .orangeh1 {
    color: #ffa955;
  }

  .greenh1 {
    color: #89ac46;
  }
  

  @media only screen and (max-width: 768px) {
    .container {
      min-height: 100vh;
      padding: 4vw 5vw;
    }

    .container div {
      width: 100%;
      justify-content: space-between;
      gap: unset;
      padding: 2vw 0;
    }

    .container .tagline {
      font-size: 13vw;
    }
      
  .createBtn {
    transform: translate(0);
    font-size: 3.5vw;
    padding: 3vw;
    border-radius: 2vw;
    margin-top: 3vh;
    box-shadow: none;
  }
  }