.container {
    height: 100vh;
    width: 100vw;
    background-color: #111;
    color: #fff;
    padding: 4vw 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1vw;
  }
  
  .container .tagline {
    font-size: 7vw;
    overflow-y: hidden;
  }

  .container div {
    display: flex;
    gap: 3vw;
    padding: 1vw;
    padding-left: 0;
  }
  
  .createBtn {
    all: unset;
    font-weight: bold;
    font-size: 1vw;
    background-color: #89ac46;
    padding: 0.6vw 1vw;
    border-radius: 0.6vw;
    color: #111;
    transition: 0.12s ease-in-out;
    box-shadow: 6px 6px #fff;
    cursor: pointer;
  }
  
  .createBtn:hover {
    transform: translate(6px, 6px);
    box-shadow: 0 0;
    color: #fff;
  }
  
  .orangeh1 {
    color: #ffa955;
  }

  .greenh1 {
    color: #89ac46;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }

  footer a {
    all: unset;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: baseline;
    margin-right: 12px;
  }

   footer a span {
    display: none;
    font-size: 0.9vw;
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 1000;
   }

  footer p:hover a, footer a:hover {
    color: #89ac46;
  }

  footer p:hover a span, footer a:hover span {
    display: inline-block;
  }

  footer p {
    position: relative;
    font-size: 0.8vw;
    color: #858585;
    display: flex;
    align-items: baseline;
    gap: 3px;
  }

  @media only screen and (max-width: 768px) {
    .container {
      min-height: 100vh;
      padding: 4vw 5vw;
    }

    .container div {
      width: 100%;
      justify-content: space-between;
      gap: unset;
      padding: 2vw 0;
    }

    .container .tagline {
      font-size: 13vw;
    }
      
  .createBtn {
    transform: none !important;
    font-size: 3.5vw;
    padding: 3vw;
    border-radius: 2vw;
    margin-top: 3vh;
    box-shadow: none;
  }

  footer p {
    font-size: 3vw;
  }

  footer a {
    color: #89ac46;
  }

  footer a span {
    display: none !important;
  }
  }