<div id="login" class="login">
    <h3>Your distraction-free workspace.</h3>
    <h4>Login to your <span class="orangeText">task</span><span class="greenText">pilot</span> account</h4>
    <button type="button" class="googleBtn" (click)="signInWithGoogle()"><img src="../../../assets/google.png"> Login with Google</button>
    <!-- <form action="">
            <p>or continue with</p>
            <input type="text" placeholder="Username" class="inputField" required autocomplete="off">
            <input type="password" placeholder="Password" class="inputField" required autocomplete="off">
            <button class="loginBtn">Continue</button>
            <p class="error">Enter valid username or password!</p>
    </form> -->
</div>