.feedbackForm {
    width: 18%;
    background-color: #151515;
    border: 1px solid #222;
    position: fixed;
    right: 5%;
    top: 7.5vw;
    border-radius: 1.7vw;
    padding: 1.5vw 1.7vw;
    display: flex;
    flex-direction: column;
    transition: 0.4s linear;
}

.feedbackForm h4 {
    color: #777;
    padding-bottom: 0.5vw;
    font-size: 0.9vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.feedbackForm h4 button {
    all: unset;
    font-size: 1vw;
    color: #555;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    padding: 4px 8px;
    padding-top: 0;
    text-align: center;
}

.fedbackForm h4 button:hover {
    color: #89ac46;
}

form p {
    border-top: 1px solid #222;
    font-size: 0.7vw;
    color: #555;
    padding: 0.5vw 0;
}

.feedbackSentMsg p {
    font-size: 0.7vw;
    color: #777;
}

.feedbackSentMsg h3{
    border-top: 1px solid #222;
    font-size: 0.8vw;
    color: #89ac46;
    padding: 12px 0 4px 0;
}

.feedbackForm h4 button:hover {
    color: #89ac46;
}

form {
    width: 100%;
    transition: 0.2s ease-in-out;
}

textarea, input {
    outline: none;
    width: 100%;
    margin: 5px 0;
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid #222;
    background-color: #111;
    font-size: 0.75vw;
}

.formBtns {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 23px;
}

button {
    all: unset;
    width: 48%;
    padding: 7px 8px;
    font-size: 0.8vw;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid #222;
    background-color: #111;
    color: #555;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    text-align: center;
}

.feedbackCancelBtn:hover {
    background-color: #e94a4a;
    color: #fff;
}

.feedbackSubmitBtn:hover {
    background-color: #89ac46;
    color: #fff;
}

textarea {
    resize: vertical;
    min-height: 50px;
    max-height: 300px;
    overflow: hidden;
}

.closeModal {
    display: none;
}

.mobileOverlay {
    display: none;
}

.validationMsg {
    position: absolute;
    color: #e94a4a !important;
    border-top: none !important;
    padding: 0 !important;
}

 @media only screen and (max-width: 768px) {
    .desktopOverlay {
        display: none;
    }

    .mobileOverlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        backdrop-filter: blur(4px);
        z-index: 9999;
        display: flex;
        justify-content: center;
    }

    .feedbackForm {
        width: 90%;
        z-index: 10000;
        border-radius: 20px;
        right: unset;
        top: 12vh;
        padding: 7vw 6vw;
    }

    .feedbackForm h4 {
    padding-bottom: 2.5vw;
    font-size: 4vw;
}

.hide {
   display: none;
}

.closeModal {
    padding: 0 !important;
    display: block !important;
    height: 3.5vw !important;
    width: 3.5vw !important;
    background-color: #e94a4a !important;
    border-radius: 100px !important;
}

.feedbackForm h4 {
    overflow: visible;
}

.feedbackForm h4 button {
    transform: translateY(-10px);
    padding-right: 0;
}

form p {
    font-size: 3.4vw;
    padding: 2.5vw 0;
}

.feedbackSentMsg p {
    font-size: 3.3vw;
}

.feedbackSentMsg h3{
    font-size: 3.5vw;
    color: #89ac46;
    margin: 12px 0 4px 0;
}

textarea, input {
    font-size: 3.4vw;
    margin: 8px 0;
}

textarea:focus, input:focus {
    font-size: 1rem;
}


.formBtns {
    gap: 14px;
    margin-top: 30px;
}

button {
    font-size: 3.4vw;
}

input {
    height: 38px;
}

textarea {
    resize: vertical;
    height: 50px;
    max-height: 300px;
    overflow: hidden;
}

.validationMsg {
   font-size: 3vw !important;
}

  }
