.navbar {
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
    position: fixed;
    top: 0;
    z-index: 20;
    backdrop-filter: blur(50px);
    /* border-bottom: 1px solid #222; */
    margin-bottom: 3vh;
  }
  
  .redh1 {
    color: #e94a4a;
  }
  .greenh1 {
    color: #89ac46;
  }
  .orangeh1 {
    color: #ffa955;
  }
  
  .navbar nav {
    height: 90%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    border-radius: 100px;
  }
  
  nav li {
    list-style: none;
    font-weight: 500;
    font-size: 0.8vw;
  }
  
  nav button {
    all: unset;
    background-color: #89ac46;
    font-weight: bold;
    font-size: 0.8vw;
    padding:  0.5vw 0.6vw;
    border-radius: 0.6vw;
  }
  
  nav button a {
    color: #111;
    transition: 0.12s ease;
    text-decoration: none;
  }
  
  nav button:hover a {
    color: #fff;
  }
  
  nav li a {
    color: #fff;
    text-decoration: none;
    transition: 0.1s ease-in;
  }
  
  nav li a:hover {
    color: #89ac46;
  }
  

  @media only screen and (max-width: 768px) {

    .navbar {
      padding: 0 5vw;
    }
    .navbar h3 {
      font-size: 4.5vw;
    }

     .navbar nav {
    width: 65%;
     }

    nav li {
      font-size: 3vw;
    }
  }