.navbar {
    /* height: 7vh; */
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: fixed;
    top: 0;
    z-index: 20;
    backdrop-filter: blur(30px);
    /* border-bottom: 1px solid #222; */
    margin-bottom: 3vh;
    overflow: visible;
  }

  .navbar h3 {
    font-size: 1.1vw;
  }

  .navbar h3 a {
    text-decoration: none;
  }
  
  .redh1 {
    color: #e94a4a;
  }
  .greenh1 {
    color: #89ac46;
  }
  .orangeh1 {
    color: #ffa955;
  }
  
  .navbar nav {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
    padding: 0 2vw;
    padding-right: 0;
    /* border-radius: 100px; */
  }
  
  nav li {
    list-style: none;
    font-weight: 400;
    font-size: 0.8vw;
  }
  
  nav button {
    all: unset;
    background-color: #89ac46;
    font-weight: 600;
    font-size: 0.8vw;
    padding:  0.5vw 0.9vw;
    border-radius: 0.6vw;
    color: #111;
    transition: 0.12s ease;
    cursor: pointer;
  }
  
  /* nav button:hover {
    color: #fff;
  } */
  
  nav li a {
    color: #fff;
    text-decoration: none;
    transition: 0.1s ease-in;
    cursor: pointer;
  }
  
  nav li a:hover {
    color: #89ac46;
  }

  .username a {
    /* font-size: 0.8vw; */
    font-weight: 600;
    color: #89ac46 !important;
  }

  .logout {
    opacity: 0!important;
    position: absolute !important;
    top: 35px !important;
    right: 5% !important;
    z-index: 1000 !important;
    transition: 0.1s ease-in-out !important;
    scale: 0.6 !important;
  }

  .username:hover .logout{
    opacity: 1 !important;
    top: 42px !important;
    scale: 1 !important;
  }

  .mobileNav {
    display: none !important;
  }

  .mobileNavContainer {
    display: none;
  }

  @media only screen and (max-width: 768px) {

    .mobileNavContainer {
      position: absolute;
      top: 70px;
      left: 0;
      background-color: #111;
      height: 0;
      width: 100vw;
      /* opacity: 0.4; */
      transition: 0.3s all ease-in;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 4vh;
      font-size: 4.5vw !important;
    }

    .mobileNavContainer a {
      text-decoration: none;
      color: #fff;
      font-weight: 500;
    }

    .mobileNavContainer a span {
      font-weight: 100;
     font-style: italic;  
    }

    .mobileNavContainer button {
      width: 45vw;
      border-radius: 2.5vw;
      background-color: #e94a4a;
      border: none;
      outline: none;
      color: #fff;
      padding: 3vw 0;
      font-size: 4.5vw;
      font-weight: 600;
    }

    .mobileFeedbackBtn {
      background-color: #89ac46 !important;
    }

    .mobileNavHeight {
      height: calc(100vh - 125px);
      padding-top: 4vh;
      opacity: 1;
    }

    .navbar {
      padding: 0 3vw;
      height: 70px;
      align-items: flex-start !important;
      padding-top: 10px !important;
    }

    .navbar h3 {
      font-size: 4vw;
    }

     .navbar nav {
      align-items: flex-start !important;
      gap: 6vw;
      padding-top: 5px !important;
      color: #fff;
     }

     .desktopNav {
      display: none !important;
     }

     .mobileNav {
      display: flex !important;
      position: relative;
     }

    nav li {
      font-size: 3vw;
    }

    /* nav li:nth-child(1) {
      display: none;
    } */

    nav button {
    font-size: 2.8vw;
    padding:  1vw 2vw;
    border-radius: 1.5vw;
  }

  nav button:hover a {
    color: #111;
  }

    .logout {
    color: #fff !important;
    opacity: 1 !important;
    top: 38px !important;
    right: 3vw !important;
    scale: 1 !important;
    font-weight: 500 !important;
  }

  }